.banner{
	padding:100px;
	padding-top:200px;
	color: #fff;
	min-height:700px;
}

.banner h1{
	font-size: 75px;
}

#cta {
	background: rgba(0,0,0,.3);
	border: 2px solid #fff;
}

#cta:hover{
	background: #fff;
	color: #201163;
}

.about h1 {
	color: #201163;
	text-align: center;
	font-size: 48px;
}

.about h2{
	text-align: center;
}
.steps h1{
	font-size: 100px;
}

.thumbnail{
	min-height: 350px;
}

.register{

	padding: 50px;
	padding-top: 25px;
}

.register button{
	padding:18px;
	padding-left: 35px;
	padding-right: 35px;
	font-size: 28px;
	background-color: #201163;
	color: #fff;
}

.register button:hover{
	background-color: #fff;
	border: 2px solid #201163;
	color: #201163;
}

.contact button{
	font-size: 21px;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	}
a{
	color:#fff;
}

a:hover{
	text-decoration: none;
}
.page_navigation a{
	padding:10px;
	color:#337ab7;
	border:1px solid #337ab7;
	border-radius: 5px;
	margin: 5px;
}

.page_navigation a:hover{
	color:#fff;
	background-color: #337ab7;
}