{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<style type="text/css">
.textarea.form-control{
  height: 100px;
}
</style>
<div class="container" style="padding-top: 100px;">
  <div class="jumbotron">
      <form  action="" method="post">
        <h2>Report an Issue</h2>
        <p>We appreciate your help.</p>
      	{% csrf_token %}
        <div class="row">
          <div class="col-md-6">
          <label >Name</label>
          {{ form.name |addcls:'required form-control' }}
          {{ form.name.errors }}
          </div>
           <div class="col-md-6">
          <label >Email</label>
          {{ form.email |addcls:'required form-control' }}
          {{ form.email.errors }}
          </div>
        </div>
        <div class="row">
           <div class="col-md-6">
        <label>Organization</label>
          {{ form.organization |addcls:'required form-control' }}
          {{ form.organization.errors }}
        </div>
        </div>
        <br>
        <label >Please describe the issue. Include as much detail as possible including which district, candidate or election are affected, and any other details you think might help us understand how to improve the database.</label>
        {{ form.issue |addcls:'required form-control text' }}
        {{ form.issue.errors }}
        <label >Additional Comments</label>
        {{ form.comments |addcls:'required form-control text' }}
        {{ form.comments.errors }}
        <br/>
        <button class="btn btn-lg btn-primary" name="submit" type="submit">Send Error Report</button>
      </form>  
  </div> 
</div>
{% endblock %}