{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}
{% block content %}
{% load humanize %}
<script type="text/javascript" src="{% static 'js/jquery.pajinate.js' %}"></script>
<script type="text/javascript">

	$(document).ready(function(){
				$('#paging_container1').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 5,
				});
				$('#paging_container2').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 5,
				});
				$('#paging_container3').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 5,
				});
				$('#paging_container4').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 10,
				});
				$('#paging_container5').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 5,
				});
				$('#paging_container6').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 10,
				});
				$('#paging_container7').pajinate({
					num_page_links_to_display : 3,
					items_per_page : 10,
				});
			});
</script>

<div class="container-fluid" style="padding-top: 75px;">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-2">
				<img src="{% static 'images/Logo_COC_Color.png' %}">
			</div>
			<div class="col-md-10">
				<h1 >Prosecutor Accountability Database </h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-offset-2">
				<small class="text-centered">powered by ColorOfChange</small>
			</div>
		</div>
	</div>
	<div class='container'>
		<div class="well">
		<div class="row">
			<div class="col-md-2">
				<i class="fa fa-compass" aria-hidden="true" style="font-size:225px; color:#337ab7;"></i>
			</div>	
			<div class="col-md-9 col-md-offset-1" style="font-size:18px;">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>Explore the Prosecutor DB</strong>
					  </li>
					</ul>
					<ul class="list-group content">
						<a href="{% url 'district_reports' %}" class="list-group-item"><strong><i class="fa fa-search" aria-hidden="true"></i> -- Explore Districts <i class="fa fa-map-marker" aria-hidden="true"></i></strong></a>
						<a href="{% url 'election_reports' %}" class="list-group-item"><strong><i class="fa fa-search" aria-hidden="true"></i> -- Explore Elections <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></a>
						<a href="{% url 'candidate_reports' %}" class="list-group-item"><strong><i class="fa fa-search" aria-hidden="true"></i> -- Explore Candidates <i class="fa fa-user" aria-hidden="true"></i></strong></a>
					</ul>
				</div>
			</div>
		</div>
		</div>
		<br/>
	</div>
	<div class='container'>
		<div class='row'>
			<div class="col-md-4" id="paging_container6">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>Upcoming Primaries</strong>
					  </li>
					</ul>
					<ul class="list-group content">
					  {% for state in states_upcoming_primary %}
					  	<a href="{% url 'state_detail' slug=state.slug %}"class="list-group-item">
					  		<strong>{{ state.state_name}}</strong> - 
					  		{% for election in state.district.all|filter_date_and_sort_primary:'primary_election_date' %}
					  			{% if forloop.first %}
					  				{{election.primary_election_date}}
					  			{% endif %}
					  		{% endfor %}
					  	</a>
					  {% endfor %}
					</ul>
					<ul class="page_navigation pagination pagination-sm"></ul>
				</div> 
			</div>
			<div class="col-md-4" id="paging_container4">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>Upcoming Generals</strong>
					  </li>
					</ul>
					<ul class="list-group content">
					  {% for state in states_upcoming_general %}
					  	<a href="{% url 'state_detail' slug=state.slug %}"class="list-group-item">
					  		<strong>{{ state.state_name}}</strong> - 
					  		{% for election in state.district.all|filter_date_and_sort_general:'general_election_date' %}
					  			{% if forloop.first %}
					  				{{election.general_election_date}}
					  			{% endif %}
					  		{% endfor %}
					  	</a>
					  {% endfor %}
					</ul>
					<ul class="page_navigation pagination pagination-sm"></ul>
				</div> 
			</div>
			<div class="col-md-4" id="paging_container7">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>Upcoming Filing Dates</strong>
					  </li>
					</ul>
					<ul class="list-group content">
					  {% for state in states_filing %}
					  	<a href="{% url 'state_detail' slug=state.slug %}"class="list-group-item">
					  		<strong>{{ state.state_name}}</strong> - 
					  		{% for election in state.district.all|filter_date_and_sort_filing:'next_filing_date' %}
					  			{% if forloop.first %}
					  				{{election.next_filing_date}}
					  			{% endif %}
					  		{% endfor %}
					  	</a>
					  {% endfor %}
					</ul>
					<ul class="page_navigation pagination pagination-sm"></ul>
				</div> 
			</div>
			
		</div>
		<div class="row">
			
			<div class="col-md-4" id="paging_container3">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>Upcoming Elections</strong>
					  </li>
					</ul>
					<ul class="list-group content">
					  {% for election in upcoming_elections %}
					  	<a href="{% url 'election_detail' slug=election.slug %}"class="list-group-item">
					  		<strong>{{election.election_name}}</strong>
						    <span >Election Year: {{election.election_year}} State: {{election.state}} | General Election Date: {{election.district.general_election_date}} | Population: {{election.district.population|intcomma}} | % African American: {{election.district.percent_aa}} 
						    	{% if election.candidate.all %}
							    	| Candidates: 
							    	{% for candidate in election.candidate.all %}
								     	{% if not forloop.last %}
					    					{%if candidate.is_incumbent == 'Yes'%}
					    						<strong>Incubment:</strong> {{candidate.first_name}} {{candidate.last_name}}{% if candidate.won_primary == 'Yes' %} <i class="fa fa-check" aria-hidden="true" style="color:#00b0a2;"></i> {% endif %}, 
				    						{% else %} 
				    							{{candidate.first_name}} {{candidate.last_name}}{% if candidate.won_primary == 'Yes' %} <i class="fa fa-check" aria-hidden="true" style="color:#00b0a2;"></i> {% endif %},
				    						{% endif %}
			    						{% else %}
				    						{%if candidate.is_incumbent == 'Yes' %}
					    						<strong>Incubment:</strong> {{candidate.first_name}} {{candidate.last_name}} {% if candidate.won_primary == 'Yes' %} <i class="fa fa-check" aria-hidden="true" style="color:#00b0a2;"></i> {% endif %}
				    						{% else %} 
				    							{{candidate.first_name}} {{candidate.last_name}}{% if candidate.won_primary == 'Yes' %} <i class="fa fa-check" aria-hidden="true" style="color:#00b0a2;"></i> {% endif %}
				    						{% endif %}
			    						{% endif %}
	    							{% endfor %} 
							  {% endif %}
							 {% endfor %}
							</a>
					</ul>
					
					<ul class="page_navigation pagination pagination-sm"></ul>
				</div> 
			</div>
			<div class="col-md-4" id="paging_container2">
				<div class="panel-body">
					<ul class="list-group">
					  <li class="list-group-item active">
					  	<strong>African-American Districts</strong>
					  </li>
					</ul>
					<ul class="list-group content">
					  {% for district in dist_by_aa %}
					  	<a href="{% url 'district_detail' slug=district.slug %}"class="list-group-item">
					  		<strong>{{district.district_id}}</strong>
						    <span >State: {{district.state}} | District General Election Date: {{district.general_election_date}} | Population: {{district.population|intcomma}} | % African American: {{district.percent_aa}}</span>
					  	</a>
					  {% endfor %}
					</ul>
					<ul class="page_navigation pagination pagination-sm"></ul>
				</div> 
			</div>
		</div>
	</div>
</div>


{% endblock %}