{% extends 'base.html' %}
{% block title %} Title {% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style type="text/css">
.banner{
	background-image: url('{% static "images/legalimage1.jpg"%}');
	background-size: cover; 
}
.head-text{
	margin-top: 50px;
}

</style>



<div class="container-fluid banner">
	<div class="row">
		<div class="col-md-2 col-md-offset-1">
			<small style="margin-left:25px;">Powered by</small><br>
			<img src="{% static 'images/Logo_COC_Color.png' %}" style="width:50%;"/>
		</div>
		<div class="col-md-9">
			<h1 style="margin-top:0; font-size:85px;">Elected Prosecutor Database</h1>
		</div>
	</div>
	<div class='row head-text'>
		<div class='col-md-10 col-md-offset-1'>
			<p>Welcome to the Elected Prosecutors Database powered by Color Of Change. We hope this will become a useful tool for locating and evaluating potential targets in the landscape of prosecutor reform. The database is comprised of publicly available information about districts, elections and candidates for the more than 2,400 elected prosecutors in the country. It contains over 100,000 cells of manually researched data compiled in just a few short months</p>
			<p>This database is currently in its Minimum Viable Product stage, meaning this is simply a barebones version used to gather information about how users would interact with the information. We need your help to shape the future of the database and to report any issue areas so that we can develop a fully functional tool over the next several years. Please contact Color Of Change at prosecutordb@ColorOfChange.org to set up a 1:1 User Session and make frequent use of the Report an Issue function above.</p>
			<br/>
			<br/>
		</div>
		
		<div class='col-md-10 col-md-offset-1'>
			<a href="{% url 'index' %}#steps"><button class="text-center btn btn-lg" id="cta">Learn More <i class="fa fa-chevron-down"></i></button></a>
		</div>
	</div>
	
</div>
<div class="container about">
	<br/>
	<div class="row">
		<a name="steps"><h1 class='text-center'>How to access the Database</h1></a>
	</div>
	<br/>
	<br/>
	<div class='row steps'>
		<div class="col-md-4">
			<div class="thumbnail">
				<h1><i class="fa fa-user-plus"></i></h1>
				<h2>Register with Us</h2>
				<p class="text-justify">Once you have been approved, you can access the report builder to help your organization identify which candidates, elections, and districts show promise for change.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<h1><i class="fa fa-check-square"></i></h1>
				<h2>Get Approval</h2>
				<p class="text-justify">Once you register, your info is sent to our the Prosecutor Database team. Our team will grant your access to the database and send your login instructions. Please note that approval can take up to 48 hours.</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<h1><i class="fa fa-database"></i></h1>
				<h2>Start Querying</h2>
				<p class="text-justify">Once you have been approved you can access ready made reports on our user database, as well as a report builder to help your organization identify which candidates, elections, and district show promise for change.</p>
			</div>
		</div>
	</div>
	<div class="row register text-center" >
		<a href="{% url 'register' %}"><button class="btn btn-lg">Register</button></a>
	</div>
	<div class="row">
		<div class="well well-lg">
			<h1>Help Us Improve our Database!</h1>
				<h3>Please bear in mind this database in its current form is a minimum viable product. That's tech jargon for "a version of a new product which allows a team to collect the maximum amount of validated learning about users with the least amount of development." That's where you come in: we need help to make this a fully functional tool. Please use the "Report an Issue" function to tell us about any usability issues or data errors you notice.
				<br/>
				<div class="row register contact text-center" >
					<a href="{% url 'contact' %}"><button class="btn btn-lg">Report an Issue</button></a>
				</div>
		</div>
		<br/>
	</div>
</div>
{% endblock %}