{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container" style="padding-top: 100px;">
  <div class="jumbotron">
      <form class="form-area" action="" method="post">
      	{% csrf_token %}
        <label >Email</label>
        {{ form.email |addcls:'required form-control' }}
        {% if form.email.errors %}
        <br/>
        <div class="alert alert-danger" role="alert">
         {{ form.email.errors }}
        </div>
        {% endif %}
        <br/>
        <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign in</button>
      </form>
  </div>
</div>
{% endblock %}