{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="container" style="padding-top: 100px;">
  <div class="jumbotron">
      <form class="form-area" action="" method="post">
      	{% csrf_token %}
        <label >Old Password</label>
        {{ form.old_password |addcls:'required form-control' }}
        {% if form.old_password.errors %}
        <br/>
        <div class="alert alert-danger" role="alert">
         {{ form.old_password.errors }}
        </div>
        {% endif %}
       <label >New Password</label>
        {{ form.new_password1 |addcls:'required form-control' }}
        {% if form.new_password1.errors %}
        <br/>
        <div class="alert alert-danger" role="alert">
         {{ form.new_password1.errors }}
        </div>
        {% endif %}
       <label >New Password Confirmation</label>
        {{ form.new_password2 |addcls:'required form-control' }}
        {% if form.new_password2.errors %}
        <br/>
        <div class="alert alert-danger" role="alert">
         {{ form.new_password2.errors }}
        </div>
        {% endif %} 
        <br/>
        <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Sign in</button>
      </form>
    </div>
</div>
{% endblock %}